# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
app/logs/*.log

# Database
*.db
*.sqlite3

# SQLAlchemy Cache
*.db-journal

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Output Files
output/

# Jupyter
.ipynb_checkpoints/